* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0e6253;
    padding: 20px 0;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.contact-info {
    padding: 50px 0;
    background-color: #fff;
}

.contact-info h2, .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.detail h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-form {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #0e6253;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: #23524b;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .container {
        width: 95%;
    }

    .contact-details {
        flex-direction: column;
        align-items: center;
    }
}
